DOCTYPE
head 
    meta(charset="utf-8") 
    title 
    link(type="text/css",rel="stylesheet",href="/stylesheets/bootstrap.min.css")
    link(type="text/css",rel="stylesheet",href="/stylesheets/style.css")
    script(type="text/javascript",src="/javascripts/jquery-1.11.3.js")
    script(type="text/javascript",src="/javascripts/jquery.cookie.js")
    script(type="text/javascript",src="/javascripts/bootstrap.min.js")
body
    include includes/head
    <!--中间内容区-->
    div.contentWrap
        div.container
            div.row 
            include includes/aside
            div.col-md-8 
                div.panel.panel-default
                          div.panel-heading
                            h3.panel-title
                              #{article.title}
                          div.panel-body
                              #{article.content}
                          div.panel-footer
                              form.comment(role="form")
                                div.form-group
                                  label(for="name")发表评论
                                  textarea.form-control(name="commentCnt",rows="3")
                                  button.btn.btn-default.commentBtn(type="button")提交
                div.panel.panel-default
                          div.panel-heading 评论列表
                          ul.list-group.cmtLists
    script(type="text/javascript",src="/javascripts/main.js")
    script(type="text/javascript",src="/javascripts/calendar.js")